<div class="upload-container">
  <h1>Upload Photos for <%= @event.title %></h1>
  
  <%= form_with(url: upload_event_path(@event), method: :post, multipart: true) do |f| %>
    <div class="file-upload">
      <%= f.file_field :images, multiple: true, accept: 'image/*' %>
    </div>
    
    <%= f.submit "Upload Photos", class: "btn btn-primary" %>
  <% end %>
</div>