<div class="flex-shrink-0 w-[30%] sm:w-[25%] md:w-[20%] lg:w-[15%] aspect-square overflow-hidden">
  <% if event_image.image_url(:thumb).present? %>
    <%= image_tag event_image.image_url(:thumb), class: "w-full h-full object-cover rounded-lg border" %>
  <% else %>
    <div class="bg-gray-200 w-full h-full flex items-center justify-center text-gray-500 text-sm rounded-lg border">
      No Image
    </div>
  <% end %>
</div>
